mixin renderBlogArticle (article)
  div.card.mb-3
    div.card-header
      a(href=`/blog/${article.slug}`)
        h4= article.title
    div.card-body.blog-article!= markdown.toHTML(article.content)
    div.card-footer= moment(article.created).fromNow()