nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-3
  div.container
    a(href="/").navbar-brand.mr-2
      img(src="/img/gabcade-brand.png", alt="gabcade.com logo").site-brand
    button(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation").navbar-toggler
      span.navbar-toggler-icon

    div(id="navbarSupportedContent").collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li(class= currentView === 'home' ? 'active' : null).nav-item
          a(href="/").nav-link Home
        li(class= currentView === 'games' ? 'active' : null).nav-item
          a(href="/games").nav-link Games

      if (user)
        ul.navbar-nav
          li(class= currentView === 'profile' ? 'active' : null).nav-item
            a(href=`/user/${user.username}`).nav-link
              img(src='/img/profile-default.png').profile
          li(class= currentView === 'profile' ? 'active' : null).nav-item
            a(href=`/user/${user.username}`).nav-link.profile= user.username
          li.nav-item
            a(href="/user/logout").nav-link logout
          if (user.flags.isAdmin)
            li.nav-item
              a(href="/admin").nav-link admin
      else
        ul.navbar-nav
          li.nav-item
            a(href="/user/signup").btn.btn-primary.btn-sm.mr-2 Sign Up
            a(href="/user/login").btn.btn-primary.btn-sm Login