extends ../layout
block content

  include ../components/game-unity3d

  div.row
    each game in games
      div.col-4
        case game.technology
          when 'U3'
            +renderUnityGame(game)
          when 'H5'
            +renderHtml5Game(game)
          when 'GM'
            +renderGameMakerGame(game)