extends ../layout
block content
  div.row
    div.col-lg-3.text-center
      a(href="/games/nucleoid") NUCLEOID
    div.col-lg-3.text-center
      a(href="/games/gabber") GABBER
    div.col-lg-3.text-center
      a(href="/games/gaboom") GABOOM!
    div.col-lg-3.text-center
      a(href="/games/icann-command") ICANN COMMAND
