@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed');
body {
  padding: 0;
  margin: 0;
  font: 16px "Encode Sans Condensed", sans-serif;
  background-color: #4a4a4a;
  color: #c8c8c8;
}
a,
a:hover {
  color: #25cc80;
}
img.responsive {
  width: 100%;
  height: auto;
}
img.profile {
  height: 32px;
  width: auto;
}
img.home-brand {
  display: block;
  max-width: 256px;
  height: auto;
  margin: 0 auto 0 auto;
}
img.site-brand {
  padding: 0;
  margin: 0;
  height: 28px;
  width: auto;
}
