extends ../layout
block content
  div.jumbotron
    div.row
      div.col-9
        h1 Admin Dashboard

  div.row
    div.col-3
      ul.nav.flex-column
        li.nav-item
          a(href='/admin/game-management').nav-link Games
        li.nav-item
          a(href='/admin/user-management').nav-link Users

    div.col-9
      p The admin dashboard graphs will go here.