extends ../layout
block content
  div.jumbotron.text-center
    h1.text-center Subscribe Now
    div.marketing-burst
      div.marketing-cost Only #[span.price $1.99] per month or #[span.price $19.90] per year
    p.lead.my-3 For only $1.99 per month you can get unlimited access to all games on Gabcade.com, fund the continued development of our games, fund the development of new games, attract new developers to the platform, and earn many extra perks as you go!
    div
      a(href="/user/stripe/connect").btn.btn-primary Get Started!

  div.row
    div.col-lg-4
      h4.text-center Why Subscribe?
      p.lead Rather than charging a fixed one-time price per game, Gabcade.com offers a monthly subscription that is about the cost of just #[strong one] game in one of the popular app stores.
      p Apple and Google should be very scared. Because you're here, now!
    div.col-lg-4
      h4.text-center Benefits of Subscribing
      p Subscribing members do not see advertising anywhere on the site or in any of our games. Your subscription payments go directly to the creators of the games here on Gabcade.com.
      p Your profile will have a subscriber badge (separate from Gab Pro), you get access to VIP areas of the site, and you get access to our retro arcade room!
    div.col-lg-4
      h4.text-center Paying Developers
      p Game developers deserve to get paid for their work. It encourages them to make more games, to make better games, and to produce the games you want to play!
      p As a subscriber, you get direct access to game developers and can help guide the future of the platform.

  div.card
    div.card-body
      p.lead The difference on Gabcade.com is you get to play #[em all] the games! That's like getting access to the entire Apple iTunes App Store #[em and] the Google Play Store for one extremely low monthly fee. We made it happen!
    div.card-footer.text-center
      a(href="/user/stripe/connect").btn.btn-primary Get Started!