extends ../layout
block content
  h1 Subscription Aborted
  p Thank you for considering a subscription to Gabcade.com, and sorry this just wasn't the right time. If you would like to subscribe in the future, just select the Upgrade option from the system menu to start over.