extends ../layout
block content

  div.card
    div.card-header
      div.row
        div.col-sm-4.col-lg-2.text-center
          img(src="/img/profile-default.png").img-responsive.img-circle
        div.col-sm-8.col-lg-10.text-center.text-lg-left
          h1= profile.username
          if profile && profile.bio
            p.lead!= markdown.toHTML(user.bio)
    
    // div.card-body
    //   p.lead This is where a user's recent public game activity will go. This will include game results, achievements and more.
    
  // div.row
  //   div.col-lg-8
  //     h2 Recent Game Results
  //     div.card
  //       div.card-header.font-weight-bold NUCLEOID
  //       div.card-body
  //         p No recent game results.
  //   div.col-lg-4
  //     h2 Recent Achievements
  //     div.card
  //       div.card-header.font-weight-bold STUNNING DETONATION
  //       div.card-body
  //         p #[span= user.username] destroyed 8 virus particles in one shot using the Detonator in NUCLEOID.
