extends ../layout
block content

  include ../components/comment

  div.card.my-3
    div.card-header
      div.row
        div.col-sm-4.col-lg-2.text-center
          div
            if (profile.proSubscription && profile.proSubscription.isSubscribed)
              img(src="/img/gabcade-pro-icon.png").profile.large
            else
              img(src="/img/profile-default.png").profile.large
          if ((profile._id.toString() === user._id.toString()) && (!user.proSubscription || !user.proSubscription.isSubscribed))
            a(href="/stripe/get-started").btn.btn-primary.btn-sm.mt-3 UPGRADE
        
        div.col-sm-8.col-lg-10.text-center.text-lg-left
          h1= profile.username
          if profile && profile.bio
            p.lead!= markdown.toHTML(profile.bio)
    
    // div.card-body
    //   p.lead This is where a user's recent public game activity will go. This will include game results, achievements and more.
    
  div.row
    div.col-lg-8
      h3 Recent game results
      p This space is reserved for recent game results played while logged in.

    div.col-lg-4
      h3 Recent achievements
      p This space is reserved for recent achievements earned in-game.

      h3 Recent comments
      if !comments || !comments.length
        p #{profile.username} hasn't posted any comments, yet. You know how to encourage them!
      else
        each comment in comments
          +renderComment (comment)