extends layout
block content

  //- div
  //-   a(href="/game")
  //-     img(src="/img/gabcade-logo-large.png", alt="gabcade logo").home-brand

  div.row
    div.col-lg-3
    div.col-lg-6
      div.embed-responsive.embed-responsive-16by9
        video(src="/video/gaboom-remake.mp4" controls).embed-responsive-item
    div.col-lg-3
  
  h1.text-center.my-3 gabcade.com

  p.lead Welcome to gabcade.com, a community-powered online video game arcade 100% dedicated to the Gab.ai community. As soon as possible, you'll be able to log in and compete on the leaderboards with your friends from #[a(href="https://gab.ai", target="_blank") gab.ai].

  div.card.mb-3
    div.card-body
      div.row
        div.col-lg-4
          div.home-icon.mb-3
            i.fas.fa-bullhorn
          p Announcing Gabcade.com, the Internet's first online gaming system dedicated to the online community of #[a(href="https://gab.ai") Gab.ai], the free speech social network for everyone (not just the alt-right).
        
        div.col-lg-4
          div.home-icon.mb-3
            i.fab.fa-expeditedssl
          p #[a(href="/stripe/get-started") Pro subscribers] will have additional benefits here including access to the VIP room where some of the most exclusive games, early releases and more are for your eyes only.
        
        div.col-lg-4
          div.home-icon.mb-3
            i.far.fa-handshake
          p We are not owned by or controlled by Gab.ai, but Gab's leadership does have input here and we try to follow their guidance as best we can to help ensure a similar community experience between the two sites.
  
  p.lead.text-center Gab is about the freedom of speech. Gabcade is about the freedom to play.

  p If you want to #[a(href="https://gab.ai/hash/SpeakFreely", target="_blank") #SpeakFreely], hop on over to Gab and get your fill of First Amendment freedom. We are about allowing publishers to bring you new experiences without worrying about being rejected from an "App Store" for expressing themselves in ways that might not be popular on those stores.

  div.card.mb-3
    div.card-body  
      h2.text-center.mb-0
        span.footer-hashtag.mx-3
          a(href="https://gab.ai/hash/SpeakFreely") #SpeakFreely
        span.footer-hashtag.mx-3
          a(href="https://gab.ai/hash/PublishFreely") #PublishFreely
        span.footer-hashtag.mx-3
          a(href="https://gab.ai/hash/PlayFreely") #PlayFreely