doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    block gametitle
      title gabcade.com | a community video game arcade for Gab.ai
    block css
      link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css", integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB", crossorigin="anonymous")
      link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.1.0/css/all.css", integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")
      link(rel='stylesheet', href='/css/style.css')
    block gamecss
    block js
      script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
      script.
        (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-5865185341985206",
          enable_page_level_ads: true
        });
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
    block gamejs

  body

    include components/navbar

    div.container.mb-3
      if (user && !user.flags.isGdprDismissed)
        include components/gdpr-notice
      block content

    div.container.small
      p.text-center
        | Copyright &copy; 2018 #[a(href="/") gabcade.com]
        br
        | License: MIT

    div(id="sidebar-menu").sidebar-menu.closed
      div.card
        div.card-header
          div.row
            div.col-10
              h4.mb-0 Site Menu
            div.col-2
              i(onclick="return toggleSideMenu(event);").fas.fa-times
      
        div.card-body
          if user
            ul.nav.flex-column
              li.nav-item
                a(href=`/user/${user.username_lc}/edit`).nav-link edit profile
            hr
            ul.nav.flex-column
              li.nav-item
                a(href="/user/logout").nav-link logout
              if (user.flags.isAdmin)
                li.nav-item
                  a(href="/admin").nav-link admin

    block scripts
      script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js", integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", crossorigin="anonymous")
      script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js", integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T", crossorigin="anonymous")

      script(src="/js/opus-resource.js", integrity="sha384-nP+5fJ6TxfzyenjR56HXXRQaFmcXz2aveT1vwKdCg+9DNb9moNMtkQ6nCYRUbqQ+", crossorigin="anonymous")

      script.
        $('#gdpr-alert').on('closed.bs.alert', ( ) => {
          var resource = new opus.OpusResource();
          resource.post('/user/dismiss-alert/gdpr');
        });

        function toggleSideMenu (event) {
          event.preventDefault();
          var e=document.getElementById('sidebar-menu');
          e.classList.toggle('closed');
          return true;
        }
