extends layout
block content

  h1 Gabcade.com Privacy Policy
  p We think privacy policies should be easily understood and short.

  h2 Cookies
  p The gabcade.com website uses session cookies in order to provide user login functionality, and this functionality is required in order to use certain features on the site. We do not track your activity, and we do not track your activity on other sites. Our session cookie is #[em only] used here at gabcade.com.

  h2 Personal Information
  p Gabcade.com does not collect personal information and share it. Your email address is used to verify your account and is not used again without your permission through opt-in services such as notifications. We do not sell or otherwise share your personal information with any 3rd parties of any kind except as required by law.

  h2 Logs
  p Our servers log your IP address and general location as determined using the MaxMind GeoLite2 database. This allows us to know your country and city of origin, and we use this information internally to help us see where the service is being used with popularity.

  h2 Advertising Personalization
  p Gabcade.com uses Google AdSense for advertising, and Google implements ad personalization using cookies and local storage to help advertisers display offers that are tailored to you. Personalized ads reach users based on their interests, demographics, and other criteria. Advertising technology providers may collect, receive, and use your personal data in personalized ads.